{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "prettier"
  ],
  "globals": {
    "ENV": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": false,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "arrowParens": "avoid"
      }
    ],
    "arrow-body-style": "off",
    "global-require": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off"
  },
  "plugins": [
    "prettier"
  ]
}
